:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
        120deg,
        #65735a,
        #7ab4f2
    );
    --vp-home-hero-image-background-image: -webkit-linear-gradient(
        -80deg,
        #7ab4f2 50%,
        #65735a 50%
    );
    --vp-home-hero-image-filter: blur(50px);
    --vp-button-brand-bg: #65735a;
    --vp-button-brand-hover-bg: var(--vp-c-brand-1);
    --vp-button-brand-active-bg: #a5bd92;
    --vp-c-brand-1: #8a9e7b;

    --custom-shadow-s:
        inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;

    --custom-shadow-m:
        inset 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 4px 8px #00000015;

    --custom-shadow-l:
        inset 0 1px 2px #ffffff70, 0 4px 6px #00000030, 0 6px 10px #00000015;
}

img[src="/me.jpg"] {
    border-radius: 50%;
}

.image-bg {
    position: static !important;
    transform: none !important;
    animation: 3s linear 0s infinite alternate breathe;
}

@keyframes breathe {
    to {
        scale: 1.25;
    }
}

.VPFeature,
.VPButton {
    box-shadow: var(--custom-shadow-s);
}

.vp-doc p {
    text-align: justify;

    code {
        text-wrap-mode: nowrap;
    }
}

.centerTitle {
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}

.pictureWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 100%;
        max-height: 500px;
        width: auto;
        height: auto;
    }
}

.threePictureRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
        max-width: 30%;
        max-height: 500px;
        width: auto;
        height: auto;
        margin-left: 2px;
        margin-right: 2px;
    }
}
